contentGenerator-shopify/Product Description Genertor.json
{
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "={{ $json.body.text }}\n\nname of the product: {{ $json.body.product_name }}\n\nin this product {{ $json.body.material_type }} fabric used.\n\nprovide output in json formate",
        "inputType": "binary",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -416,
        -240
      ],
      "id": "0f417d51-4cc1-470f-b9b9-39edc676022f",
      "name": "Analyze image",
      "credentials": {
        "googlePalmApi": {
          "id": "0qx7MVBn4PpeYK6I",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node\nreturn items.map(item => {\n  let rawText = \"\";\n\n  try {\n    // Navigate safely into content.parts[0].text\n    rawText = item.json?.content?.parts?.[0]?.text || \"\";\n  } catch (e) {\n    rawText = \"\";\n  }\n\n  // Remove Markdown code block wrappers like ```json ... ```\n  rawText = rawText.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\n  let parsed = {};\n  let output = {};\n\n  try {\n    // Try parsing JSON\n    parsed = JSON.parse(rawText);\n\n    // Copy everything dynamically\n    output = { ...parsed };\n\n  } catch (e) {\n    // If JSON parsing fails → treat as HTML\n    output.html = rawText.replace(/\\n/g, \"\"); // remove newline chars\n  }\n\n  return { json: output };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -240
      ],
      "id": "6fffabf7-aeba-4a88-a49f-97dad25dae36",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "387b3de0-7931-478b-b7d0-9d12c013afc6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        -144
      ],
      "id": "96f7ece1-61a3-4bd0-ac12-48eb5465d7e1",
      "name": "Webhook",
      "webhookId": "387b3de0-7931-478b-b7d0-9d12c013afc6"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        32,
        -240
      ],
      "id": "74d22a36-0277-4939-8ae7-296192fdb500",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dcbq8p-1b.myshopify.com/admin/api/2025-07/products.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"product\": {\n    \"title\": \"{{ $json.data[0].title }}\",\n    \"body_html\": {{ JSON.stringify($json.data[0].description) }},\n    \"vendor\": \"{{ $('Webhook').item.json.body.vendor }}\",\n    \"product_type\": \"{{ $('Webhook').item.json.body.product_type }}\",\n    \"tags\": \"{{ $json.data[0].tags }}\",\n    \"published\": true,\n    \"options\": {{ $('Webhook').item.json.body.options }},\n    \"variants\": {{ $('Webhook').item.json.body.variants }},\n    \"images\": [\n      {\n        \"src\": \"{{ $json.data[1].url }}\"\n      }\n    ],\n    \"seo\": {\n      \"title\": \"{{ $json.data[0].meta_title }}\",\n      \"description\": \"{{ $json.data[0].meta_description }}\"\n    }\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        -64
      ],
      "id": "e8b593f3-78be-443c-9155-ec451c655b8d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiration",
              "value": "600"
            },
            {
              "name": "key",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        -48
      ],
      "id": "e7355758-b5bb-4c4d-b144-efbc9fbde39b",
      "name": "imgbb"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "data",
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        -64
      ],
      "id": "e706490c-ff25-4c03-b485-82a6de850e5b",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        704,
        -64
      ],
      "id": "ab3ea824-b40b-406d-8d68-4e6411e7d283",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "315e610b-5765-4e27-b12b-086295b06d63",
              "name": "data.title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "a5ce2448-9876-42c4-932e-f159398c99d0",
              "name": "data.description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "af5f4fcf-5795-4b5b-8778-5c53d1140acb",
              "name": "data.tags",
              "value": "={{ $json.tags }}",
              "type": "string"
            },
            {
              "id": "93db0c23-dc94-434f-b267-5ae30e8b6b7e",
              "name": "data.bullet_points",
              "value": "={{ $json.bullet_points }}",
              "type": "array"
            },
            {
              "id": "3cd64ab8-d31a-49bb-81bf-f63e93d2175a",
              "name": "data.alt_text",
              "value": "={{ $json.alt_text }}",
              "type": "string"
            },
            {
              "id": "cfbbbe35-e586-4cff-a84d-a18dfc0d1196",
              "name": "data.meta_title",
              "value": "={{ $json.meta_title }}",
              "type": "string"
            },
            {
              "id": "fc215a21-b411-4c84-b12d-6c3a5187f35e",
              "name": "data.meta_description",
              "value": "={{ $json.meta_description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -240
      ],
      "id": "da7ab3f1-8566-42a6-9dce-64d7dd32bcd2",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Analyze image": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          },
          {
            "node": "imgbb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "imgbb": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8b77bb61-4114-4d53-88e6-51dc8ad565a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae21f7ff983ee929f98e8d7968bbd21b49d1a44f2e129169348ba847d37dd5ac"
  },
  "id": "UwkpH8xiiju3ZsdJ",
  "tags": []
}
