Email Insights/mail-insights.json
{
  "name": "mail summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -464,
        -32
      ],
      "id": "ad74724c-32ec-4acb-a5e9-d316f7d970bb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "receivedAfter": "={{ $now.minus({ days: 1 }) }}"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -256,
        -32
      ],
      "id": "6b785c6b-ed0a-42ff-b6af-fe4bf489436d",
      "name": "Get many messages",
      "webhookId": "e3b9488a-0aac-41f4-985d-b60d476425e8",
      "credentials": {
        "gmailOAuth2": {
          "id": "NwY4EwMpJMKDZsrm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= you are an efficient mail summarizer, you have summarize the mail if it's contains words like important, quick or mail content is important, if mail contains things that need to reviewed by human and it's important then also summarize that mail.\nif it's not important then\nsimply output \"{not important mail wwhile explaing why it was not important}\"\nmail:\n {{ $json.headers.subject }}\n body: {{ $json.text }}\nmail from: {{ $json.from.value[0].address }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -48,
        -32
      ],
      "id": "24e8eb3c-bc82-4bf0-b6d4-f54fc94570bd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        240
      ],
      "id": "f874cd8e-7275-4b7c-a8d3-2b33e1b76d97",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0qx7MVBn4PpeYK6I",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        304,
        -32
      ],
      "id": "da8a29fe-eafc-4354-95da-4a880134c6bb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        480,
        -32
      ],
      "id": "d1cbab46-1628-4654-9dca-1306a0bf7ec8",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U090AD0HPA6",
          "mode": "list",
          "cachedResultName": "yunitmoradiya21"
        },
        "text": "=mail summary:  {{ $json.output.text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        832,
        -32
      ],
      "id": "09476ae5-3c23-40c8-9cd6-63c6f2dd8754",
      "name": "Send a message",
      "webhookId": "dda707a3-f95b-42a5-a226-528fd84e70c1",
      "credentials": {
        "slackApi": {
          "id": "6L8H0qlbz4iNwx5m",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "63b3c283-1b7f-43be-a743-308288e5ce7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae21f7ff983ee929f98e8d7968bbd21b49d1a44f2e129169348ba847d37dd5ac"
  },
  "id": "mazda72fJyIORQ5O",
  "tags": []
}