resume checker based on rag/rag-based-resume-checker.json
{
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        0
      ],
      "id": "bc5b96f7-605d-47ae-8b1f-ca94249cb5c5",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "NwY4EwMpJMKDZsrm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=you are an expert in HR field, you are very efficient in finding good people based on company need just by looking at their resume \nuse available tool- pinecone vector store\nyou will check the resume and give me following things\nCandidate Summary\ncandidate skills\ncandidate past experience\nSkill Match Score\nRecommendations\nwhy i hire and don't hire that candidate\nneeds human review - yes/no\nand explain your decision\n\n\ntext extracted from resume:\n{{ $json.text }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        296,
        0
      ],
      "id": "36637361-6676-4bcb-beca-c3852ad1f04e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -64,
        0
      ],
      "id": "ad70415d-61b8-45f9-940d-e20aa16d7782",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        224
      ],
      "id": "b31dce21-82b7-4dcf-88e0-b0bc811650a3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0qx7MVBn4PpeYK6I",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve info from this database for hiring criteria, job descriptions, and best-practice data before responding",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag-resume-checker",
          "mode": "list",
          "cachedResultName": "n8n-rag-resume-checker"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        288,
        224
      ],
      "id": "99f65e39-5122-4bbf-9f58-d422154af9cb",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "qUPviTuhledEbczU",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        432
      ],
      "id": "90061fbc-1c47-4e15-897f-5cfa0479cefe",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "0qx7MVBn4PpeYK6I",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Candidate Summary\": \"\",\n  \"Candidate Skills\": \"\",\n  \"Candidate Past Experience\": \"\",\n  \"Skill Match Score\": {\n    \"Frontend (React Focused)\": \"\",\n    \"Backend (.NET Focused)\": \"\",\n    \"Overall Junior Software Developer\": \"\"\n  },\n  \"Recommendations\": \"\",\n  \"Why I would hire this candidate\": \"\",\n  \"Why I would not hire (or areas for further investigation) this candidate\": \"\",\n  \"Needs Human Review\": \"\",\n  \"Explanation of Decision\": \"\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        576,
        224
      ],
      "id": "b9da9816-f0cf-4e4a-a496-2715c7151a24",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        432
      ],
      "id": "89275677-414e-40ca-ad9c-ed9e810977e2",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "0qx7MVBn4PpeYK6I",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45465807-7413-4a14-9ea4-61867793c60d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae21f7ff983ee929f98e8d7968bbd21b49d1a44f2e129169348ba847d37dd5ac"
  },
  "id": "EWfahQQGUZq63bKf",
  "tags": []
}